" The usual suspects:
" - incremental search with highlight
" - ignore case when searching (except when using capital letters)
set incsearch
set hlsearch
set ignorecase
set smartcase

" Use system clipboard
set clipboard+=unnamed

" <Space> is the new leader!
nnoremap <Space> <Nop>
let mapleader=" "

" evil-escape
imap jk <Esc>

" Perfom join via IDE
set ideajoin

" IDE commands, inspired by Doom Emacs
map <Leader>: :
map <Leader><Space> <Action>(SearchEverywhere)
map <Leader>. <Action>(GotoFile)
map <Leader>, <Action>(Switcher)
map <Leader>/ <Action>(FindInPath)
map <Leader>x <Action>(NewScratchBuffer)

" buffer
map <Leader>bs <Action>(SaveDocument)
map <Leader>bS <Action>(SaveAll)
map <Leader>bb <Action>(RecentFiles)
map <Leader>bd <Action>(CloseContent)
map <Leader>bk <Action>(CloseContent)
map <Leader>bK <Action>(CloseAllEditors)
map <Leader>bO <Action>(CloseAllEditorsButActive)

" code
noremap <Leader>cd gd
map <Leader>cD <Action>(ShowUsages)
map <Leader>ci <Action>(GotoImplementation)
map <Leader>ct <Action>(GotoTypeDeclaration)
map <leader>cf <Action>(ReformatCode)
map <Leader>ca <Action>(ShowIntentionActions)
map <Leader>cj <Action>(SearchEverywhere)
map <Leader>c/ <Action>(CommentByLineComment)
map <Leader>cb <Action>(ToggleLineBreakpoint)

" file
map <Leader>fs <Action>(SaveDocument)
map <Leader>ff <Action>(GotoFile)
map <Leader>fr <Action>(RecentFiles)
map <Leader>fy <Action>(CopyAbsolutePath)
map <Leader>fR <Action>(RefactoringMenu)

" search
map <Leader>sb <Action>(Find)
map <Leader>ss <Action>(Find)
map <Leader>sp <Action>(FindInPath)

" Treat common IntelliJ shortcuts as Vim commands
sethandler <C-2> a:vim
sethandler <C-S-2> a:vim
sethandler <C-6> a:vim
sethandler <C-S-6> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-[> a:vim
