"The usual suspects: incremental search with highlight, ignore case when searching (except when using capital letters)
set incsearch
set hlsearch
set ignorecase
set smartcase

"Use system clipboard
set clipboard+=unnamed

"Enable native IDEA paste action for put operations
set clipboard+=ideaput

"Perfom join via IDEA
set ideajoin

"SPACE is the new leader!
nnoremap <Space> <Nop>
let mapleader=" "

"evil-escape
imap jk <Esc>

"IDE commands, inspired by Doom Emacs
map <Leader>: :
map <Leader>. <Action>(SearchEverywhere)
map <Leader>/ <Action>(FindInPath)
map <Leader><lt> <Action>(Switcher)

"buffer
noremap <Leader>bs :<C-u>w<CR>
noremap <Leader>bS :<C-u>wa<CR>
map <Leader>bb <Action>(RecentFiles)
map <Leader>bd <Action>(CloseContent)
map <Leader>bk <Action>(CloseContent)
map <Leader>bK <Action>(CloseAllEditors)
map <Leader>bO <Action>(CloseAllEditorsButActive)

"code
noremap <Leader>cd gd
map <Leader>cD <Action>(ShowUsages)
map <Leader>ci <Action>(GotoImplementation)
map <Leader>ct <Action>(GotoTypeDeclaration)
map <leader>cf <Action>(ReformatCode)
map <Leader>ca <Action>(ShowIntentionActions)
map <Leader>cj <Action>(SearchEverywhere)
map <Leader>c/ <Action>(CommentByLineComment)
map <Leader>cb <Action>(ToggleLineBreakpoint)

"file
noremap <Leader>fs :<C-u>w<CR>
map <Leader>ff <Action>(SearchEverywhere)
map <Leader>fr <Action>(RecentFiles)
map <Leader>fy <Action>(CopyAbsolutePath)
map <Leader>fR <Action>(RefactoringMenu)
"map <Leader>fR <Action>(Refactorings.QuickListPopupAction)

"search
map <Leader>sb <Action>(Find)
map <Leader>ss <Action>(Find)
map <Leader>sp <Action>(FindInPath)

"Treat common IntelliJ shortcuts as Vim commands
sethandler <C-2> a:vim
sethandler <C-S-2> a:vim
sethandler <C-6> a:vim
sethandler <C-S-6> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-[> a:vim
